.superInput {
  padding: 6px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid rgba(105, 105, 105, 1);
  background-color: #ffffff;
}

.superInput:hover {
  color: #000000;
  transition: 0.3s;
  border: 1px solid rgba(52, 152, 192, 1);
  box-shadow: 0 2px 5px 1px #b2b2b2;
}

.errorInput {
  position: relative;
  padding: 6px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid red;
  background-color: rgba(128, 0, 0, 0.1);
}

.error {
  position: absolute;
  top: 2px;
  right: 90px;
  width: 100px;
  padding: 2px;
  margin: 0;

  color: red;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
