.App {
  padding: 30px;
  display: flex;
}

.App ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.App li {
  display: flex;
  padding: 4px 6px;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-class {
  color: white;
  background-color: green;
}

.is-done {
  opacity: 0.5;
}

.tasks-list {
  width: 240px;
  padding: 20px;
  border: 1px solid #bababa;
}

.tasks-list:hover {
  transition: 0.3s;
  box-shadow: 0 2px 5px 1px #b2b2b2;
}

.tasks-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-list__field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.tasks-list__buttons {
  display: flex;
  justify-content: space-between;

  margin: 20px 0 20px 0;
}

.tasks-list__buttons button {
  min-width: 40px;
}

.tasks-list__items {
  padding: 0;
  margin: 0;
}

.tasks-list__items li {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 5px 0;
  text-align: left;
}
