.App {
  padding: 30px;
  display: flex;
}

.App ul {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style: none;
}

.App li {
  display: flex;
  padding: 4px 6px;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-class {
  background-color: green;
}

.is-done {
  opacity: 0.5;
}
